body {
  background-color: grey;
  text-align: center;
  margin: 50px;
  box-sizing: border-box;
}
#logo {
  height: 120px;
  padding: 20px;
}
#logo:hover {
  transform: rotate(90deg);
  transition-duration: 1s;
}
#navbar {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20%;
}
.navbar-brand {
  color: black;
  display: block;
  padding: 6px;
}
.navbar-brand:hover {
  color: white;
  display: block;
  background-color: #333;
  border-radius: 4px;
}
#section-list {
  text-align: center;
  margin-top: 3%;
}
#section-list h1 {
  margin-bottom: 50px;
}
#button-Delete {
  float: right;
  margin-right: 5%;
}
#tablemain {
  text-align: center;
  margin: 20px auto;
  clear: both;
}
#todoname {
  font-size: 20px;
  padding-right: 400px;
  text-decoration: underline;
}
#todocontrol {
  font-size: 20px;
  padding-left: 400px;
  text-decoration: underline;
}

.td1 {
  float: left;
  margin: 10px;
}
.td2 {
  float: right;
  margin: 15px;
}
.tdx {
  float: left;
  margin: 10px;
}
.tdy {
  float: right;
  margin: 15px;
}
#section-add {
  text-align: center;
  margin-top: 20%;
}
footer {
  text-align: center;
  margin-top: 10%;
}
#formarea {
  text-align: center;
  clear: both;
  display: block;
}
